<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Contact-Us</title>
  </head>
  <body>
    <!-- Sidebar section -->
    <div class="sidebar">
      <div class="logo-container">
        <img src="/images/logo2.jpg" alt="Logo" />
        <a href="/"><h4>CRL Project Manager</h4></a>
      </div>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/uploadProject">Create New Project</a>
      <a href="/#about-section">About CRL</a>
      <a href="/#vision-section">Our Vision</a>
      <div class="sidebar-bottom">
        <a class="active" href="/contact">Contact us</a>
        <p>&copy; CRL-GAD</p>
      </div>
    </div>

    <!-- Content section -->
    <div class="content-container">
      <div class="contact-container">
        <h1>Contact Us</h1>
        <p>Feel free to reach out to us at any time.</p>
        <div class="contact-info">
          <p>
            Email:
            <a href="mailto:crlgad@bel.co.in">projectmanager@example.com</a>
          </p>
          <p>Phone:<a href="tel:+91 8025039300">+91- 80-25039300</a></p>
          <p>
            <b> Address:</b> Central Research Laboratory, Bharat Electronics
            Limited, Bharat Nagar Post, Ghaziabad 201 010 (UP).
          </p>
          <p>Hours: Monday - Friday, 9 AM - 5 PM</p>
          <p>Sunday, 10 AM - 4 PM</p>
        </div>
        <a class="btn" href="/home">Back to Homepage</a>
      </div>
    </div>

    <script src="/js/contact.js"></script>
  </body>
</html>
